<ion-view>
  <ion-nav-title>{{thisChatDetails[0].name}} - {{thisChatDetails[0].unique_id}}</ion-nav-title>
  <ion-nav-buttons side="right">
        <button ng-click="markAsRead();" class="button button-balanced icon-left">
          <b>Potwierdź Odczyt</b>
        </button>
      </ion-nav-buttons>
  <ion-content ng-class="{'dark-bg' : $root.negative}" class="padding">
    <div ng-repeat="item in thisChatMessages" class="row">
      <p style="background-color : {{item.color}};" ng-class="{'white-border-message' : $root.negative, 'black-border-message' : !$root.negative}">
        <span>{{item.message}}</span></br>
        <span style="float: right; font-size: 10px">{{item.date_sent}}</span><ion-icon ng-if="item.date_read == null" name="close-circle"></ion-icon><ion-icon ng-if="item.date_read != null" name="checkmark-circle"></ion-icon>
      </p>
    </div>
  </ion-content>
  <ion-footer-bar ng-class="{'dark-bg' : $root.negative}">
    <textarea ng-model="thisMessage" placeholder="Treść wiadomości..." style="padding: 5px; border-radius: 2px; width: 88%; border: solid 1px black;"></textarea><button ng-click="sendMessage(thisChatDetails[0].unique_id, thisMessage)" ng-disabled="thisMessage == null" style="margin-left: 5px; width: 12%;" class="button icon ion-arrow-right-b button-calm"></button>
  </ion-footer-bar>
</ion-view>
