<ion-view view-title="Ustawienia">
  <ion-content>
    <div class="row">
    <div class="col col-100">
    <button ng-click="changePasswordFunction()" class="button button-block button-royal">
      Zmień Hasło
    </button>
    <button ng-click="deactivateAccountFunction()" class="button button-block button-dark">
      Deaktywuj Konto
    </button>
  </div>
  </div>
    <button ng-click="logout()" class="button button-full button-assertive">
      Wyloguj się
    </button>
  </ion-content>
</ion-view>
