<ion-view view-title="Autoryzacja">
  <ion-nav-buttons side="left">
    <button ng-click="$root.refresh();" style="color: black;" class="button button-energized icon-right ion-ios-refresh-outline">
    </button>
      </ion-nav-buttons>
  <ion-content class="padding">
    <div class="row responsive-sm">
      <div class="col">
        <h2>👽 Don't Mess With Me</h2></br>
        <p>Aby skorzystać z aplikacji Don't Mess With Me musisz dokonać autoryzacji konta.
          Aby zautoryzować swoje konto należy zarejstrować się i poczekać na potwierdzenie autoryzacji przez administratora.
          Jeśli Twoje konto jest już zautoryzowane po prostu zaloguj się!</p>
      </div>
    </div>
      <button class="button button-block button-positive" ng-click="showLoginPopup()">Logowanie</button>
      <button class="button button-block button-royal" ng-click="showRegisterPopup()">Rejestracja</button>
  </ion-content>
</ion-view>
