<ion-view view-title="Rozmowy">
  <ion-nav-buttons side="left">
        <button ng-click="$root.refresh();" style="color: black;" class="button button-energized icon-right ion-ios-refresh-outline">
        </button>
      </ion-nav-buttons>
  <ion-nav-buttons side="right">
        <button ng-click="showAddFriendPopup()" class="button button-balanced">
          <b>Dodaj Kontakt</b>
        </button>
        <button ng-click="goTop();" style="margin-left: 5px;" class="button button-dark icon-right ion-arrow-up-a">
        </button>
      </ion-nav-buttons>
  <ion-content ng-class="{'dark-bg' : $root.negative}">
    <ion-list ng-if="friendRequests.length > 0">
      <h4 style="padding-left: 10px;">Zaproszenia:</h4>
      <ion-item ng-repeat="item in friendRequests" item="item" class="item-icon-right" can-swipe="listCanSwipe">
        <b>Login : {{item.username}}</b> - Numer : {{item.user_1}}
        <ion-icon ng-click="acceptFriend(item)" style="color: #33cd5f; margin-right: 30px" name="add-circle"></ion-icon><ion-icon ng-click="declineFriend(item)" style="color: #ef473a;" name="close-circle"></ion-icon>
      </ion-item>
    </ion-list>
    <div ng-if="$root.myNumber" class="card">
      <div style="text-align: center;" class="item item-text-wrap">
        <b>Twój Numer : {{$root.unique_id}}</b>
      </div>
    </div>
    <ion-list ng-if="friendsList.length > 0">
      <ion-item ng-repeat="item in friendsList" href="#/tab/chats/{{item.unique_id}}" item="item" on-hold="friendOptions(item)">
        <b>{{item.name}}</b> - {{item.unique_id}}
        <span ng-if="$root.count" ng-class="{'badge-assertive' : item.unread == 0, 'badge-balanced' : item.unread > 0}" class="badge">{{item.unread}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
