<ion-view view-title="Rozmowy">
  <ion-nav-buttons side="right" ng-show="false">
        <button ng-click="showAddFriendPopup()" class="button button-balanced icon-left">
          <b>Dodaj Kontakt</b>
        </button>
      </ion-nav-buttons>
  <ion-content ng-class="{'dark-bg' : $root.negative}">
    <ion-list ng-if="friendRequests.length > 0">
      <h4 style="padding-left: 10px;">Zaproszenia:</h4>
      <ion-item ng-repeat="item in friendRequests" item="item" can-swipe="listCanSwipe">
        <b>Login : {{item.username}}</b> - Numer : {{item.user_1}}
        <ion-option-button class="button-assertive"
                       ng-click="removeRequest(item)">
      Usuń
    </ion-option-button>
    <ion-option-button class="button-balanced"
                       ng-click="acceptFriend(item)">
      Akceptuj
    </ion-option-button>
      </ion-item>
    </ion-list>
    <div ng-if="$root.myNumber" class="card">
      <div style="text-align: center;" class="item item-text-wrap">
        <b>Twój Numer : {{$root.unique_id}}</b>
      </div>
    </div>
    <ion-list ng-if="friendsList.length > 0">
      <ion-item ng-repeat="item in friendsList" href="#/tab/chats/{{item.unique_id}}" item="item" on-hold="friendOptions(item)">
        <b>{{item.name}}</b> - {{item.unique_id}}
        <span ng-if="$root.count" ng-class="{'badge-assertive' : item.unread == 0, 'badge-balanced' : item.unread > 0}" class="badge">{{item.unread}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
