<ion-view view-title="Ustawienia">
  <ion-nav-buttons side="left">
    <button ng-click="$root.refresh();" style="color: black;" class="button button-energized icon-right ion-ios-refresh-outline">
    </button>
      </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button ng-click="saveSetting()" class="button button-calm">
      <b>Zapisz</b>
    </button>
  </ion-nav-buttons>
  <ion-content ng-class="{'dark-bg' : $root.negative}">
    <div class="row">
      <div class="col col-100">
        <ul class="list">
          <li class="item item-toggle">
            Ciemna Wersja Aplikacji
            <label class="toggle toggle-dark">
              <input ng-model="$root.negative" type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>
          <li class="item item-toggle">
            Wyświetlaj Ilość Nieodebranych
            <label class="toggle toggle-balanced">
              <input ng-model="$root.count" type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>
          <li class="item item-toggle">
            Wyświetlaj Mój Numer
            <label class="toggle toggle-positive">
              <input ng-model="$root.myNumber" type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
    <div class="col col-100">
    <button ng-click="changePasswordFunction()" class="button button-block button-royal">
      Zmień Hasło
    </button>
    <button ng-click="deactivateAccountFunction()" class="button button-block button-energized">
      Deaktywuj Konto
    </button>
    <button ng-if="$root.role == 2" style="border: 3px solid red" ng-click="clearDatabase()" class="button button-block button-dark">
      <b>! WYCZYŚĆ BAZE APLIKACJI !</b>
    </button>
  </div>
  </div>
    <button ng-click="logout()" class="button button-full button-assertive">
      Wyloguj się
    </button>
  </ion-content>
</ion-view>
