<ion-view view-title="Autoryzacja">
  <ion-content class="padding">
    <div class="row responsive-sm">
      <div class="col">
        <h2>👽 PonioApp</h2></br>
        <p>Aby skorzystać z aplikacji PonioApp musisz dokonać autoryzacji urządzenia.
          Aby zautoryzować swoje urządzenie należy zarejstrować się i poczekać na potwierdzenie autoryzacji przez administratora.
          Jeśli Twoje urządzenie jest już zautoryzowane po prostu zaloguj się!</p>
      </div>
    </div>
      <button class="button button-block button-positive" ng-click="showLoginPopup()">Logowanie</button>
      <button class="button button-block button-royal" ng-click="showRegisterPopup()">Rejestracja</button>
  </ion-content>
</ion-view>
