<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-balanced tabs-icon-top tabs-color-dark">

  <!-- Dashboard Tab -->
  <ion-tab ng-if="!$root.authenticated" title="Autoryzacja" icon-off="ion-ios-flame-outline" icon-on="ion-ios-flame" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab ng-if="$root.authenticated" title="Rozmowy" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Requests Tab -->
  <ion-tab ng-if="$root.authenticated && $root.role == 1" title="Zapytania" icon-off="ion-ios-checkmark-outline" icon-on="ion-ios-checkmark" href="#/tab/requests">
    <ion-nav-view name="tab-requests"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab ng-if="$root.authenticated" title="Ustawienia" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
