/* Empty. Add your own CSS if you like */
input {
  padding: 5px !important;
}
.redSpan {
  color: red !important;
}
.ng-animate .scroll-bar {
  visibility: visible !important;
}

.scroll-bar-fade-out{
  opacity:1 !important
}
